
// I want to enable dsl2

nextflow.enable.dsl=2



// I can make multiple profiles depending on where the script is running
// My standard process will run by default and will be made to run on slurm schedulers

profiles{

    standard {
        process.executor = 'slurm'
        //process.queue = 'long'
        //process.memory = '30GB'
        process.module = 'singularity/3.11.5' 
        singularity.enabled = true
        singularity.autoMounts = true

        

    }


    // I can have a profile for cloud also

    cloud {
        process.executor = 'AWSBATCH'
        docker.enabled = true
    }

}






//process.module = 'singularity/3.11.5' 
//singularity.enabled = true
//singularity.autoMounts = true 

process{

        
    // I think I still have to define the processes outside
    
    withName:mouse_ref_genome_gtf{
        time='4h'
        memory= 100.GB
    }
    withName:fastp_se{time='1h'}
    withName:bwa_index{
        time='2h'
        memory = 100.GB}
    withName:bwa_alignment{
        time='5h'
        memory= 100.GB}
    withName:samtools_convert{
        time='1h'
        memory=50.GB
    }
    withName:peak_calling_mouse{
        time='1h'
        memory= 50.GB
    }
    withName:make_peak_count_table{
        time='1h'
        memory= 40.GB
    }
    withName:ngs_plot{
        time='1h'
        memory= 40.GB
    }
    withName:chipSeeker_mouse{
        time='1h'
        memory= 50.GB
    }
    withName:deseq2_db{
        time='1h'
        memory= 40.GB
    }
}